@font-face{
    font-family: "AvenirNextBold";
    src: url(../assets/fonts/AvenirNextBold);
}
@font-face{
    font-family: "AvenirNextBold";
    src:url(../assets/fonts/AvenirNextDemi);
}

@font-face{
    font-family: "AvenirNextRegular";
    src:url(../assets/fonts/AvenirNextRegular);
}