// MOBILE//

.container-texte{

    margin-left: 16px;
    margin-right:16px;
    margin-top: 32px;

    &__title{
        font-size: 24px;
        color: #323232;
        line-height: 32px;
    }
}

.container-providor{

    margin-top: 16px;

    &__source{
        display: flex;

        &__name{
            margin-right: 8px;
            color: #323232;

            &__date{
                color:#AFAFAF;
            }


        }
    }

}

.container-info{
    margin-top:32px;
    display: flex;
    margin-bottom: 24px;

    &__eye{
        margin-right: 8px;

        &__number{
            margin-right: 24px;

            &__like{
                margin-right: 8px;
            }
        }
    }
}

#line{
    height: 1px;
    width: 100%;
    background-color: #AFAFAF;
}

.container-description{
    margin-top: 24px;
    margin-bottom: 40px;

    &__paragraphe{
        font-size: 13px;
        line-height:18px;
    }
}

         // IPAD//

@media screen and (min-width:769px){

    .container-texte{
        margin-left: 24px;
        margin-right:24px;
        margin-top:48px;
    }


    .container-description{
        margin-top: 40px;
        margin-bottom: 64px;
    }

    #tablet{
        display: flex;
        justify-content: space-between;
    }

    .container-info{
        margin-top: 0px;
    }

    .container-description{
        max-width: 504px;

        &__paragraphe{
            font-size: 14px;
            line-height: 22px;

        }
    }
}

    // Desktop//

@media screen and (min-width:1339px){

    .container-texte{
        max-width: 712px;
        margin-left: 180px;
    }

    .container-info{
        margin-right: 32px;
    }
}