
// MOBILE//

.container-nextVideo{

    &__title{

        &__channel{

            &__video{
                 width: 120px;
                 height: 70px;
                 border-radius: 4px;
            }
        }
    }
}